# Update the two lines below to reflect the valid values for your deployment
DEPLOYMENT_NAME=acme
PERSONAL_ACCESS_TOKEN=your_personal_access_token_here

# The line below should remain unchanged
API_BASE_URL=https://${DEPLOYMENT_NAME}.qualytics.io
